<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
    	<!-- console appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss SSS}|%t|%-5p|%m%n" />
        </Console>

        <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFileInfo" fileName="${sys:user.dir}/logs/WOS-SDK.interface_south.log"
                     filePattern="${sys:user.dir}/logs/WOS-SDK.interface_south-%i.log" filePermissions="rw-------">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <SizeBasedTriggeringPolicy size="20M" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="com.chinanetcenter.api.demo" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- console log -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFileInfo" />
        </Root>
    </Loggers>
</Configuration>